
  <main id="main">
    <section class="breadcrumbs">
  		<div class="container">

        <ol>
          <li><%=link_to "Home","/"%></li>
          <li>Office</li>
        </ol>
        <h2>Office</h2>

  		</div>
  	</section>

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
        <div class="col-lg-8 entries">
          <%# <% @news do |n|%>
            <article class="entry">
            <div><%= image_tag @staff.photo, class: "img-fluid" %></div>
              <div class="entry-content">
                <p style="text-align: justify;"><%= @staff.message.html_safe%></p>  
              </div>
            </article>
          <%# <% end %> 
            
          </div>
      

          
          <div class="col-lg-4">
                    <section id="course-details" class="course-details">
            <div class="container" data-aos="fade-up">

            <div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h3><%= @staff.office_name.upcase%></h3>
              </div>
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Offices That Answerable To</h5>
                <%= @staff.offices_that_answerable_to.html_safe %>
              </div>
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Address</h5>
                <%= @staff.office_address %>
          
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Phone Number</h5>
                <%= @staff.office_phone_number.html_safe %>
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Email</h5>
                <%= @staff.email %>
              </div>
            <div>
          </div>
          </div>
          
        </div>

    
    </section><!-- End Cource Details Section -->


    </section>
    </main>


