  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Programs</li>
        </ol>
        <h2>Programs</h2>

      </div>
    </section>
    
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container aos-init aos-animate" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Programs</h2> -->
          <p>Our Degree Programs</p>
        </header>

        <div class="row">
          <%Program.where(study_level: 'undergraduate').each do |pro|%>
	    			<div class="col-lg-3" style="padding-right: 5px;">
	   					<div class="post-box bg-white">
	   						<div class="post-img"><%= image_tag pro.photo, class: "img-fluid"%></div>

	   						<h3 class="post-title"><%= pro.program_name%></h3>
	   						<span class="post-date"><strong>modality:- <%= pro.modality%> </strong></span>
	   						<span class="post-date mb-4"><%= pro.overview.html_safe%> .</span>
	   						<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
	   					</div>
	   				</div>
	    		<%end%>
        </div>

      </div>

    </section>
    
    <!-- ======= Marketing Headline ======= -->
    <section id="cta" class="cta">
      <div class="container aos-init aos-animate " data-aos="zoom-in">
        <% @marketing.where(page_to_display: 'programs').each do |m|%>
          <div class="text-center">
            <h3><%= m.headline_title%></h3>
            <p><%= m.description%></p>
            <a class="cta-btn" href="<%= m.action%>">Learn more</a>
          </div>
        <% end %>
      </div>
    </section> <!-- End Marketing -->
    
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container aos-init aos-animate" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Programs</h2> -->
          <p>Our Masters Programs</p>
        </header>

        <div class="row">

          <%Program.where(study_level: 'graduate').each do |pro|%>
	    			<div class="col-lg-3" style="padding-right: 5px;">
	   					<div class="post-box bg-white">
	   						<div class="post-img"><%= image_tag pro.photo, class: "img-fluid"%></div>

	   						<h3 class="post-title"><%= pro.program_name%></h3>
	   						<span class="post-date"><strong>modality:- <%= pro.modality%> </strong></span>
	   						<span class="post-date mb-4"><%= pro.overview.html_safe%> .</span>
	   						<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
	   					</div>
	   				</div>
	    		<%end%>

        </div>

      </div>

    </section>
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Ethiopia Addis Ababa, Asmara Road</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@yic.edu.et<br>contact@yic.edu.et</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+251-11-6-460954<br>+251-11-6-478965</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section> <!-- End contact Section -->
  </main>