  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><%=link_to "Home","/"%></li>
          <li>Programs</li>
        </ol>
        <h2>Programs</h2>

      </div>
    </section>
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
          <h2><%= @programs.program_name.html_safe %></h2>
          <%= image_tag @programs.photo, class: "img-fluid" %>
            <h3><%= @programs.program_name.html_safe %></h3>
            <%= @programs.program_description.html_safe %>
          </div>
          <div class="col-lg-4">
            <div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h3>Program Info</h3>
              </div>
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Study Level</h5>
                <%= @programs.study_level.html_safe %>
              </div>
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Program Duration</h5>
                <%= @programs.program_duration %>
          
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>modality</h5>
                <%= @programs.modality.html_safe %>
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Total tuition</h5>
                <%= @programs.total_tuition %>
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Monthly tuition</h5>
                <%= @programs.total_tuition %>
              </div>

              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Credit Hour</h5>
                <%= @programs.credit_hour %>
              </div>
            <div>
            <div class="mt-5">
                <div class="course-info d-flex justify-content-between align-items-center">
                  <h3>Career Opportunities</h3>
                </div>
                <% @careerOpportunity.each do |career| %>
                  <div class="course-info d-flex justify-content-between align-items-center">
                    <%= career.title.html_safe %>
                  </div>
                <% end %>
              
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Cource Details Section -->


      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main>
  
	
	<!-- ======= Marketing Headline ======= -->
	<section id="cta" class="cta">
      <div class="container aos-init aos-animate " data-aos="zoom-in">
            <% @marketing.where(page_to_display: 'programs').each do |m|%>
				<div class="text-center">
					<h3><%= m.headline_title%></h3>
					<p><%= m.description%></p>
					<%= link_to "Learn more", "#{m.action}", class:"cta-btn"%>
				</div>
			<% end %>
      </div>
    </section> <!-- End Marketing -->
	