  <main id="main">
  	<section class="breadcrumbs">
  		<div class="container">

  			<ol>
  				<li><%= link_to "Home","index.html"%></li>
  				<li>Contact</li>
  			</ol>
  			<h2>Contact us</h2>

  		</div>
  	</section>
  	
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We are here to answer any question you may have.</p>
        </div>
      <div class="text-center"><%= link_to "Check Our Branches", "/contact",class: "btn btn-primary mb-4"%></div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p><%= @college.headquarter_address%></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p><%= @college.email%><br>contact@yic@edu.et</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p><%= @college.phone_number%><br><%= @college.alternative_phone_number%></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
          <%= simple_form_for(VisitorComment.new, url: visitor_comments_path, html: { class: 'php-email-form'}) do |f| %>
            <div class="form-row">
                <div class="col form-group">
                <%= f.input :fullname, class: "form-control"%>
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                <%= f.input :category, collection: ["testimonial", "comment", "review"], class: "form-control"%>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
              <%= f.input :subject, class: "form-control"%>
                <div class="validate"></div>
              </div>
              <div class="form-group">
              <%= f.input :message, class: "form-control", type: 'text'%>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
            <%= f.submit 'Send Message', class: 'btn btn-primary text-white'%>
              <% end %>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->
	<section id="recent-blog-posts" class="recent-blog-posts">

	  <div class="container aos-init aos-animate" data-aos="fade-up">

  			<div class="section-title">
  				<h2>Distance Center</h2>
  				<%# <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p> %>
  			</div>

  			<div class="row">
			  <% @branches.each do |c|%>
  				<div class="col-lg-4 mt-3">
				  <div class="card" style="width: 20rem;">
					<div class="card-header bg-secondary text-white">
						<%= c.name %>
					</div>
					<ul class="list-group list-group-flush">
						<div class="row">
							<div class="col-sm-1 border-bottom ml-3">
								<li class="bx bxs-map-alt mt-3 ml-1"></li>
							</div>
							<div class="col-lg-10 border-right-0">
								<li class="list-group-item border-right-0"><%= c.location %></li>
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-1 border-bottom ml-3">
								<li class="bx bx-mobile mt-3 ml-1 "></li>
							</div>
							<div class="col-lg-10 border-white">
								<li class="list-group-item border-right-0"><%= c.phone_number %></li>
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-1 border-bottom ml-3">
								<li class="bx bxs-phone-call mt-3 ml-1 "></li>
							</div>
							<div class="col-lg-10">
								<li class="list-group-item border-right-0"><%= c.second_phone_number %></li>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-1 border-bottom ml-3">
								<li class="bx bxs-chat mt-3 ml-1 "></li>
							</div>
							<div class="col-lg-10">
								<li class="list-group-item border-right-0"><%= c.email %></li>
							</div>
						</div>
						<iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
					</ul>
				</div>
				</div>
			  <% end %>
  			</div>
  		</div>
  	</section>
  	
  	<section id="cta" class="cta" data-aos="zoom-in" data-aos-delay="100">
      <div class="container aos-init aos-animate " data-aos="zoom-in">
      <% @marketing.where(page_to_display: 'home').each do |m|%>
        <div class="text-center">
          <h3><%= m.headline_title%></h3>
          <p><%= m.description%></p>
          <%link_to "Learn more","#{m.action}", class:"cta-btn"%>
        </div>
      <% end %>
      </div>
    </section>
  	
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list" data-aos="fade-up">
      <% @faq.each do |c, i|%>
        <li>
        <a data-toggle="collapse" class="collapsed" href="#faq1<%= c.id %>"><%= c.question%>? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1<%= c.id %>" class="collapse" data-parent=".faq-list">
          <p>
          <%= c.answer%>
          </p>
        </div>
      </li>
    <% end %>

    </ul>

  </div>
</section><!-- End Frequently Asked Questions Section -->
  </main>
