<% if @admission.modality == 'online' %>

<section id="hero_new" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
	<h1 style="max-width: 600px;"> <strong>Earn your masters at Yardstick Online.</strong></h1>
	<h5>Congratulations! At YIC You can now learn your post graduate degree from the comfort of your home.</h5>
	<div class="d-flex">
	  <a href="" class="btn-get-started scrollto">Appl Now</a>
    <%= link_to 'How To Apply', how_to_path("how_to_apply"),class: "btn-get-started scrollto" %>
	</div>
  </div>
</section>

<section id="testimonials_new" class="testimonials_new">
    	<div class="container" data-aos="fade-up">
    		<div class="section-title">
    			<h2>Welcome!</h2>
    			<h6 style="max-width: 500px; margin-left: 300px">Welcome to YIC online website, we hope you find all of the information you are looking for and that the website will give you an insight into our wonderful institution. At YIC we strive for excellence in education.</h6>
    		</div>
    	</div>
</section>


              <div id="program">
                <div class="v-card v-card--flat v-sheet theme--dark rounded-0">
                  <div class="container">
                    <div class="layout row wrap justify-start">
                      <div class="flex xs12 sm12 md8 lg8 pa-2">
                        <h1 class="prog-title mb-2">Check out our programs below</h1>
                        <h4 class="title program-title mb-2 py-3"> Become a YIC online student by registering to one of
                          the four programs for which we have gained accreditation to provide graduate degrees. </h4>
                      </div>
                      <div class="flex xs12"></div>
                      <div class="flex xs12 sm12 md3 lg3 pa-2 mb-5">
                        <div tabindex="0" class="v-card v-card--link v-sheet theme--dark rounded-0"
                          style="height: 85%; width: 100%; cursor: pointer;">
                          <header
                            class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                            style="height: 48px;">
                            <div class="v-toolbar__content" style="height: 48px;">
                              <div class="spacer"></div>
                              <h3>MBA</h3>
                              <div class="spacer"></div>
                            </div>
                          </header>
                          <div class="v-image v-responsive grey theme--dark" style="height: 100%; width: 100%;">
                            <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                            <div class="v-image__image v-image__image--cover"
                              style="background-image: url(&quot;https://portal.yic.edu.et/mba.jpg&quot;); background-position: center center;">
                            </div>
                            <!---->
                            <div class="v-responsive__content" style="width: 266px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="flex xs12 sm12 md3 lg3 pa-2 mb-5">
                        <div tabindex="0" class="v-card v-card--link v-sheet theme--dark rounded-0"
                          style="height: 85%; width: 100%; cursor: pointer;">
                          <header
                            class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                            style="height: 48px;">
                            <div class="v-toolbar__content" style="height: 48px;">
                              <div class="spacer"></div>
                              <h3>Leadership</h3>
                              <div class="spacer"></div>
                            </div>
                          </header>
                          <div class="v-image v-responsive grey theme--dark" style="height: 100%; width: 100%;">
                            <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                            <div class="v-image__image v-image__image--cover"
                              style="background-image: url(&quot;https://portal.yic.edu.et/leadership.jpg&quot;); background-position: center center;">
                            </div>
                            <!---->
                            <div class="v-responsive__content" style="width: 275px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="flex xs12 sm12 md3 lg3 pa-2 mb-5">
                        <div tabindex="0" class="v-card v-card--link v-sheet theme--dark rounded-0"
                          style="height: 85%; width: 100%; cursor: pointer;">
                          <header
                            class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                            style="height: 48px;">
                            <div class="v-toolbar__content" style="height: 48px;">
                              <div class="spacer"></div>
                              <h3>Project Managemet </h3>
                              <div class="spacer"></div>
                            </div>
                          </header>
                          <div class="v-image v-responsive grey theme--dark" style="height: 100%; width: 100%;">
                            <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                            <div class="v-image__image v-image__image--cover"
                              style="background-image: url(&quot;https://portal.yic.edu.et/project-m.jpg&quot;); background-position: center center;">
                            </div>
                            <!---->
                            <div class="v-responsive__content" style="width: 500px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="flex xs12 sm12 md3 lg3 pa-2 mb-5">
                        <div tabindex="0" class="v-card v-card--link v-sheet theme--dark rounded-0"
                          style="height: 85%; width: 100%; cursor: pointer;">
                          <header
                            class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                            style="height: 48px;">
                            <div class="v-toolbar__content" style="height: 48px;">
                              <div class="spacer"></div>
                              <h3>Accounting and Finance</h3>
                              <div class="spacer"></div>
                            </div>
                          </header>
                          <div class="v-image v-responsive grey theme--dark" style="height: 100%; width: 100%;">
                            <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                            <div class="v-image__image v-image__image--cover"
                              style="background-image: url(&quot;https://portal.yic.edu.et/accounting.jpg&quot;); background-position: center center;">
                            </div>
                            <!---->
                            <div class="v-responsive__content" style="width: 1200px;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="my-3 v-card v-card--flat v-sheet theme--light rounded-0">
                  <div class="v-card__text">
                    <div class="container">
                      <div class="layout row wrap justify-center">
                        <div class="flex xs12 sm12 md7 lg7 pa-2">
                          <h1 class="prog-title my-2">85% of learning is offline</h1>
                          <p class="body-1 text-justify my-3"> As it is self paced and as our digital contents are pre
                            prepared and downloadable, the system doesn’t necessarily require you to be online all the
                            time. However, you are required to be online with good connection for live lectures, , while
                            submitting assignments, during examination schedules as well as submitting documents. </p>
                        </div>
                        <div class="flex xs12 sm12 md1 lg1"></div>
                        <div class="flex xs12 sm12 md4 lg4 pa-2">
                          <div class="v-card v-card--flat v-sheet theme--light rounded-0" style="height: 100%; width: 100%;"><img width="100%" height="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKUKUQ7WrGIMRiUtl3tmWEeZJLjQ3MQTjmlQ&usqp=CAU" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
		<section class="v-application mb-n5">
			<div class="container-fluid mb-n16">
                <div class="grey lighten-3 py-5 v-card v-card--flat v-sheet theme--light" title="">
                  <div class="v-card__text">
                    <div class="container py-5">
                      <div class="layout py-5 row wrap justify-start">
                        <div class="flex d-none d-md-block xs12 sm12 md1 lg1 pa-2">
                          <div class="v-avatar accent" style="height: 60px; min-width: 60px; width: 60px;"><i aria-hidden="true" class="v-icon notranslate mdi mdi-format-quote-open theme--light" style="font-size: 40px;"></i></div>
                        </div>
                        <div class="flex xs12 sm12 md9 lg9 pa-2">
                          <h1 class="prog-title">About us</h1>
                          <h2 class="about-us-title my-3">14 years and counting</h2> YIC has 14 years of experience and
                          was founded on 2006 GC <p class="my-5">
                          </p><ul>
                            <li>First private college in the country to get accredited to teach Agriculture and Disaster
                              risk management courses</li>
                            <li>20+ accredited programs in our faculty</li>
                            <li>80+ distance education branches and centers all around Ethiopia</li>
                          </ul>
                          <p></p><button type="button" class="text-capitalize darken-1 v-btn v-btn--contained v-btn--tile theme--light v-size--large primary"><span class="v-btn__content">Read more</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
			</div>
		</section>
              <section class="v-application">
                <div class="v-card v-card--flat v-sheet theme--dark rounded-0">
                  <div class="v-card__text">
                    <div class="layout row wrap justify-content-center">
                      <div class="flex xs12 sm12 md7 lg7 pa-2 justify-content-center">
                        <h1 class="prog-title my-5 py-2 white--text text-center"> Meet Our Teachers </h1>
                        <h4 class="text-center my-5 white--text"> We are committed to employing a talented and diverse
                          teaching force, one that reflects the students we teach every day. </h4>
                      </div>
                      <div class="flex xs12">
                        <div class="v-window v-item-group theme--dark v-carousel" style="height: 100%;">
                          <div class="v-window__container" style="height: 100%;">
                            <div class="v-window-item" style="">
                              <div class="v-image v-responsive v-carousel__item theme--dark" style="height: 100%;">
                                <div class="v-responsive__content">
                                  <div class="layout row wrap justify-center mx-2">
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Tassew</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url('../assets/DrTassew.jpg'); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Berihun</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url('../assets/NOR00034.jpg');background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                             
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Prof Assefa</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url('../assets/NOR00080.jpg'); background-position: center center;">
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Abera</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url('../assets/NOR00210.jpg'); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="v-window-item" style="display: none;">
                              <div class="v-image v-responsive v-carousel__item theme--dark" style="height: 100%;">
                                <div class="v-responsive__content">
                                  <div class="layout row wrap justify-center mx-2">
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Tassew</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Berihun</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Prof Assefa</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Abera</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="v-window-item" style="display: none;">
                              <div class="v-image v-responsive v-carousel__item theme--dark" style="height: 100%;">
                                <div class="v-responsive__content">
                                  <div class="layout row wrap justify-center mx-2">
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Tassew</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Berihun</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Prof Assefa</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex xs12 sm12 md3 lg3 pa-2">
                                      <div class="v-card v-sheet theme--dark rounded-0"
                                        style="height: 80%; width: 100%; cursor: pointer;">
                                        <header
                                          class="v-sheet theme--dark v-toolbar v-toolbar--dense v-toolbar--flat accent black--text"
                                          style="height: 48px;">
                                          <div class="v-toolbar__content" style="height: 48px;">
                                            <div class="spacer"></div>
                                            <h3>Dr Abera</h3>
                                            <div class="spacer"></div>
                                          </div>
                                        </header>
                                        <div class="v-image v-responsive theme--dark"
                                          style="height: 100%; width: 100%;">
                                          <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                          <div class="v-image__image v-image__image--preload v-image__image--cover"
                                            style="background-image: url(&quot;data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAACJCAMAAABTnPciAAAAD1BMVEXj4+Tj4+Pj4+Xj4+bj4+eheS95AAAAkElEQVR4nO3PSQEAIBAAofXon9kK8xcaMFOtanZ1qlvljY6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OzqedB8bk22twes5LAAAAAElFTkSuQmCC&quot;); background-position: center center;">
                                          </div>
                                          <div class="v-image__placeholder">
                                            <div class="row fill-height ma-0 align-center justify-center">
                                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                class="v-progress-circular v-progress-circular--indeterminate primary--text"
                                                style="height: 32px; width: 32px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715"
                                                  style="transform: rotate(0deg);">
                                                  <circle fill="transparent" cx="45.714285714285715"
                                                    cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                                                    stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"
                                                    class="v-progress-circular__overlay"></circle>
                                                </svg>
                                                <div class="v-progress-circular__info"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="v-responsive__content"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="v-window__prev"><button type="button"
                                class="v-btn v-btn--flat v-btn--icon v-btn--round theme--dark v-size--default"
                                aria-label="Previous visual"><span class="v-btn__content"><i aria-hidden="true"
                                    class="v-icon notranslate mdi mdi-chevron-left theme--dark"
                                    style="font-size: 36px;"></i></span></button></div>
                            <div class="v-window__next"><button type="button"
                                class="v-btn v-btn--flat v-btn--icon v-btn--round theme--dark v-size--default"
                                aria-label="Next visual"><span class="v-btn__content"><i aria-hidden="true"
                                    class="v-icon notranslate mdi mdi-chevron-right theme--dark"
                                    style="font-size: 36px;"></i></span></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
  
                <div class="v-card v-card--flat v-sheet theme--light" title="">
                  <div class="v-card__text">
                    <div class="container">
                      <div class="layout row wrap justify-content-center">
                        <div class="flex xs12 sm12 md7 lg7 pa-2">
                          <h1 class="prog-title text-center">
                            <div class="v-avatar" style="height: 60px; min-width: 60px; width: 60px;"><i
                                aria-hidden="true"
                                class="v-icon notranslate mdi mdi-map-marker theme--light accent--text text--darken-3"
                                style="font-size: 40px;"></i></div>Contact us
                          </h1>
                          <h2 class="title text-center"> Asmara Street, Addis Ababa, Ethiopia . info@yic.edu.et .
                            +251906505050 </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="layout row wrap justify-center"><iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d856.8402973138446!2d38.81696972916845!3d9.023637199595292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b857f280ec66b%3A0x5e8f449e21a62162!2sYardstick%20International%20College!5e1!3m2!1sen!2set!4v1618990383903!5m2!1sen!2set"
                      width="100%" height="370px" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false"
                      tabindex="0" style="border: 0px;"></iframe></div>
                </div>

<% else %>
	<main id="main">
		<section class="breadcrumbs">
			<div class="container">

				<ol>
					<li><%=link_to "Home","/"%></li>
					<li><%= link_to @admission.admission_name, admission_path(@admission)%></li>

				</ol>
				<h2><%= @admission.admission_name%></h2>

			</div>
		</section>
		<section id="departments" class="departments">
			<div class="container">

				<div class="section-title">
					<h2>Our <%= @admission.admission_name%> Program</h2>
					<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.</p>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item">
								<a class="nav-link active show" data-toggle="tab" href="#tab-12">How to Apply</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-22">Required Documents</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-32">Payment Process</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-42">Useful Informations</a>
							</li>
				<!-- <li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#tab-52">E-learning</a>
				</li> -->
			</ul>
			</div>
			<div class="col-lg-9 mt-4 mt-lg-0">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-12">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>How to Apply</h3>
								<p><%= @admission.how_to_apply.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-22">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Required Documents</h3>
								<p><%= @admission.required_document.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-32">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Payment Process</h3>
								<p><%= @admission.payment_process.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-42">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Useful Informations</h3>
								<p><%= @admission.useful_information.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</section>
	<section id="recent-blog-posts" class="fad-up recent-blog-posts">

		<div class="container aos-init aos-animate" >

			<header class="section-header mb-3" data-aos="zoom-in">
				<h2>Programs</h2>
				<p>Our <%= @admission.admission_name%> Program</p>
			</header>

			<div class="row">
				<%Program.where(study_level: @admission.study_level).where(modality: @admission.modality).each do |pro|%>
					<div class="col-lg-3" style="padding-right: 5px;">
							<div class="post-box bg-white">
								<div class="post-img"><%= image_tag pro.photo, class: "img-fluid"%></div>

								<h3 class="post-title"><%= pro.program_name%></h3>
								<span class="post-date"><strong>modality:- <%= pro.modality%> </strong></span>
								<span class="post-date mb-4"><%= pro.overview.truncate(256).html_safe%> .</span>
								<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
							</div>
						</div>
				<%end%>
			</div>

		</div>

	</section>

	<!-- ======= Marketing Headline ======= -->
	<section id="cta" class="cta">
		<div class="container aos-init aos-animate " data-aos="zoom-in">
			<% @marketing.where(page_to_display: 'admission').each do |m|%>
				<div class="text-center">
					<h3><%= m.headline_title%></h3>
					<p><%= m.description%></p>
					<%= link_to "Learn more","#{m.action}", class:"cta-btn"%>
				</div>
			<% end %>
		</div>
	</section> <!-- End Marketing -->
	</main>

<% end %>