<header id="header" class="fixed-top">
<!-- Global site tag (gtag.js) - Google Analytics -->

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-12 d-flex align-items-center">
       <h1 class="logo mr-auto">
            <%= link_to "/" do%>
              <%=image_tag "logo2.png"%>
            <%end%>
       </h1>
        <nav class="nav-menu d-none d-lg-block mr-lg-5">
          <ul>
            <li class="active"><%= link_to "Home", root_path%></li>
            
            <li class="drop-down"><%= link_to "About Us", "#"%>
              <ul>
                <li><%= link_to "About", about_path%> </li>
                <li><%= link_to "Accreditation", accreditation_path%></li>
                <li><%= link_to "Office", staffs_path%></li>
              </ul>
            </li>
            <li class="drop-down"><%= link_to "Admission", "#"%>
              <ul>
                <% Admission.all.each do |admission|%>
                  <li><%= link_to("#{admission.admission_name}", {controller: "admissions", action: "show", id: admission} )%></li>
                <%end%>
              </ul>
            </li>
            <li><%= link_to "News&Event", news_index_path%></li>
            
            <li><%= link_to "Programs", programs_path%></li>
            <li><%= link_to "Almunis", almunis_path%></li>
            <li><a href="https://lms.yic.edu.et/">E-learning</a></li>
            <li class="drop-down"><%= link_to "Libraries", "#"%>
              <ul>
                <li><a href="https://lms.yic.edu.et/library">Digital Library</a></li>
                <li><a href="https://connect.liblynx.com/wayf/7d93f98bc6a0e76fbaa79035e3a98ebd">Jounral</a></li>
                <li><a href="http://library.techin.et/">National Digital Library of Ethiopia (NDLE)</a></li>
                <li><a href="http://ndl.ethernet.edu.et/">National Academic Digital Library of Ethiopia (NADLE)</a></li>
                <li><a href="https://repository.yic.edu.et/">Research and Publication Repositories</a></li>
              </ul>
            </li>
            <li><%= link_to "Contact us", contact_path%></li>
          </ul>
        </nav><!-- .nav-menu -->

        <%= link_to "Apply now","https://sis.yic.edu.et/requirements", class: "get-started-btn scrollto"%>
      </div>
    </div>

  </div>
</header><!-- End Header -->
<div class="clear-header"></div>